<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830601114588-01dut0pvqq8udj3mlghn8r42mpihu943.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830601114588-01dut0pvqq8udj3mlghn8r42mpihu943</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPGIOJg1VMt9vKBsJMs2vXck3nvKJaM8</string>
	<key>GCM_SENDER_ID</key>
	<string>830601114588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhrisdhruv.carParking</string>
	<key>PROJECT_ID</key>
	<string>car-parking-dhruv</string>
	<key>STORAGE_BUCKET</key>
	<string>car-parking-dhruv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830601114588:ios:d56406502607680c825519</string>
	<key>DATABASE_URL</key>
	<string>https://car-parking-dhruv-default-rtdb.firebaseio.com</string>
</dict>
</plist>